@tailwind base;
@tailwind components;
@tailwind utilities;



.btnClr{
   background-color: #36ec54;
}
.clr{
  color: #36ec54;
}

//* PriceRangeSlider.css */
.price-range-slider {
  width: 100%;
  margin: 20px 0;
}

.price-labels {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
